body{
    font-family: century gothic;
   
}

table{
    margin: 30px auto;
    border: black solid 1px;
    border-collapse:collapse;
    box-shadow: 0px 15px 25px rgba(0,0,0,.6);


}
.titre{
    text-align: center;
    margin: 30px;
    color: white;
}
th{
    color: #00eeffa2;
    border: black solid 1px;
}
td{
    color: #fff;
    text-align: center;
    cursor: default;
    padding: 3px;
    border: black solid 1px;
}
.action{
    text-decoration: none;
    padding: 3px;
}
.suppr{
    color: red;
    transition: 0.3s;
}
.suppr:hover{
    background-color: transparent;
    color: #fff;
}
.lien:hover{
    background-color: grey;
    transform:translateY(-2px);
    transition: 0.3s;
}